body {
    font-family:Arial;
}
.bd-placeholder-img {
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
    }
    .carousel {
        margin-bottom: 4rem;
    }
    .carousel-caption {
        bottom: 3rem;
        z-index: 10;
    }
    .carousel-item {
        height: 32rem;
    }
    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }
    .marketing .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .marketing h2 {
        font-weight: 400;
    }
    /* rtl:begin:ignore */
    .marketing .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
    .featurette-divider {
        margin: 5rem 0;
    }
    .featurette-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -.05rem;
    }
    @media (min-width: 40em) {
        .carousel-caption p {
            margin-bottom: 1.25rem;
            font-size: 1.25rem;
            line-height: 1.4;
        }
        .featurette-heading {
            font-size: 50px;
        }
    }
    @media (min-width: 62em) {
        .featurette-heading {
            margin-top: 7rem;
        }
    }
}
body {
    padding-top: 3rem;
    padding-bottom: 0;
}
.carousel {
    margin-bottom: 0rem;
}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-item {
    height: 31.4rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
.featurette-divider {
    margin: 2rem 0;
    border: 1px solid #ccc;
}
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}
@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 3rem;
    }
}
.navbar>.container-fluid.cdp-musthead {
    padding: 18px 10%;
    display: flex;
    align-items: flex-start;
}
.navbar-light .navbar-nav .nav-link {
    color: #405464 !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 60px;
}
.carousel-caption {
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-caption h1 {
    max-width: 70%;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
}
.carousel-caption p {
    padding: 16px 0 0px;
}
.cdp-container {
    padding: 45px 10%;
    background: #F3F5F7;
}
.cdp-container-white {
    padding: 45px 10%;
    background: #fff;
}
.cdp-container h3, .cdp-container-white h3{
    color: #405464;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin-bottom:50px;
}
.cdp-container p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #405464;
    column-count: 2;
    column-gap: 40px;
}
.cdp-container-2col {
    padding: 35px 10%;
    background: #fff;
}
.cdp-container-2col img {
    padding: 5%;
}
.cdp-container-2col .sub {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #405464;
    padding-right: 7%;
}
.cdp-container-2col .lead {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #405464;
    padding-right: 7%;
    margin-bottom: 31px;
}
.cdp-container-info {
    padding: 45px 10%;
    background: #fff;
    margin: 0 10px;
}
.cdp-container-info h3 {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    margin:0;
    padding: 10px;
}
.cdp-container-info p {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin:0;
    padding: 10px;
}
.cdp-container-info .alert {
    background:#405464;
    padding: 56px;
}
.cdp-container-info .alert-primary {
    color: #b5c8e6;
}
footer {
    padding: 45px 10% 0;
    background:#F3F5F7;
}
li {
    font-family: 'Arial';
    color: #405464;
}
footer p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.footer-links {
    flex-direction:row;
}
.footer-links a {
    font-size: 14px;
    color: #405464;
    margin-right: 20px;
    padding: 8px;
}
.footer-links-2 a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #405464;
}
.footer-1st-level {
    display:flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}
.footer-2st-level {
    display:flex;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}
.footer-logo {
    margin-right: 1.6rem;
}
.footer-icons a {
    margin: 3px;
}
.footer-icons img {
    width: 29px;
}
.footer-links-2 a {
    text-decoration:none;
    margin:5px;
}
#btn-back-to-top {
    position: fixed;
    bottom: 71px;
    right: 40px;
    display: none;
}
#btn-back-to-top {
    height:120px;
    width: 50px;
    background-color: #198754;
    mask: url(/entando-de-app/cmsresources/bundles/case-management-layout-bundle-2e042de2/resources/cdppoc/img/arrow-up-square-fill.svg) no-repeat center / contain;
    -webkit-mask: url(/entando-de-app/cmsresources/bundles/case-management-layout-bundle-2e042de2/resources/cdppoc/img/arrow-up-square-fill.svg) no-repeat center / contain;
}
.container-login {
    min-height:100vh;
    background: url(/entando-de-app/cmsresources/bundles/case-management-layout-bundle-2e042de2/resources/cdppoc/img/registrazione.png) no-repeat center / contain;
    display:flex;
    justify-content:center;
    align-items:center;
}
.main{
    min-height: 94px;
    width: auto;
    background-color:#fff;
    border-radius:10px;
    padding:0 20px;
    box-sizing:border-box;
}
.top-div{
    display:flex;
    flex-direction:column;
}
.msg-img{
    display:flex;
    margin-top:20px;
    flex-direction: column;
    flex-wrap: nowrap;
}
.msg-img img{
    width:40px;
}
.msg-img h3{
    margin-left:5px;
}
.top-div p{
    font-size: 16px;
    font-weight:700;
    margin: 0;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.top-div h2{
    color:#82848a;
}
.input-text{
    margin: 20px 0;
}
input[type="text"]{
    margin: 12px 0;
    height:35px;
    box-sizing:border-box;
    outline :none;
    border-radius:3px;
    border: 1px solid #CED4DA;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
}
input[type="password"]{
    width:100%;
    height:35px;
    border:none;
    background-color:#eef5ff;
    padding:0 20px;
    box-sizing:border-box;
    outline :none;
    border:1px solid #eef5ff;
    border-radius:3px;
    font-size:12px;
}
.buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 10px;
    gap:20px;
}
.buttons button{
    height:35px;
    width:100%;
    border:none;
    outline:0;
    background-color:#e74d3d;
    color:#fff;
    font-size:12px;
    border-radius:3px;
    cursor:pointer;
}
.input-text i{
    position:absolute;
    top:13px;
    left:25px;
    color:#82848a;
    font-size:13px;
}
.input-text select{
    width:100%;
    height:35px;
    border:none;
    background-color:#eef5ff;
    padding:0 20px;
    box-sizing:border-box;
    outline :none;
    border-radius:3px;
    border:1px solid #eef5ff;
    font-size:12px;
}
.social input[type="text"]{
    padding-left:35px;
}
.main{
    display:none;
}
.active{
    display:block !important;
}
.sign-in{
    display:flex;
    justify-content: flex-start;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #405464;
}
.sign-in p{
    color:#8593a6;
}
.sign-in a{
    text-decoration:none;
    color: #198754;
    text-decoration: underline;
}
.warning{
    border:1px solid red !important;
}
.submit-button {
    text-align:right;
}
.submit-btn {
    width: 121px;
    padding: 6px 12px;
}
.checkmark{
    display:flex;
    justify-content:center;
    align-items:center;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
.congratulations{
    font-size:12px;
    font-weight:700;
    padding:0 10px;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}
.cdp-container-login .bd-placeholder-img {
    height: 90px;
    width: 97px;
}
p.insert-data {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #415464;
    margin-top: 20px;
}
.main-ok {
    height: auto;
    width: 409px;
}
.back-home {
    margin-bottom: 45px;
}
.boldline {
    font-family: 'Arial';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #405464;
}
.cdp-container-logins {
    margin-top: 5rem;
    padding: 3rem 0;
    background: #F3F5F7;
}
.cdp-user {
    padding: 2% 2%;
    background: white;
    margin: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    border-radius: 4px;
}
.cdp-user p.generic {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-self: center;
    text-align: center;
    margin-bottom:45px;
    padding: 0 22%;
    min-height: 90px;
}
.login-actions {
    text-align:center;
}
.login-actions .btn {
    width:200px;
    margin:20px 0;
    color: #fff;
    font-size: 16px;
    padding: 0.72rem;
}
.login-actions a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #009640;
    margin:20px 0;
}
.login-actions p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
    margin:20px 0;
    column-count: 1;
}
.login-banner {
    background-image: url(/entando-de-app/cmsresources/bundles/case-management-layout-bundle-2e042de2/resources/cdppoc/img/reserved.png);
    background-size: cover;
    background-position: center;
    min-height:500px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.cdp-container-login {
    margin: -7px;
    padding: 0;
}
.user-form {
    margin: 8% 10% 5%;
}
.manage-form {
    margin: 8% 10% 5%;
}
.cdp-face {
    border-radius: 31px;
    height: 56px;
}